@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-label {
    margin-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-control {
    padding: 8px 15px;
    width: 300px;
    border-radius: 5px;
  }
}
